.area{
    background-color: rgb(110, 107, 107);
}


    

.regform p{
    text-align: center;
    margin-top: 0%;
    background-color: rgb(111, 173, 224);
    margin-bottom: 0%;
    padding: 20px;
    font-family: cursive;
    border-radius: 30px 30px;
}

.regform{
    margin: auto;
    width: 60%;
    border: 3px solid #080808;
    border-radius: 30px 30px;
    padding: 15px;
    background-color:white;
    
    
    
}
.regfoprm{
    

}
.input1 h2{
    color: rgb(31, 31, 28);
    font-size: 30px;
    margin-left: 10%;
    font-family: cursive;
    
}
.input1 input{
    margin-left: 10%;
    border-radius: 25px 10px;
    padding: 1%;
    width: 80%;
    background-color:rgb(118, 235, 235);
    border: 2;
    border-color: turquoise;
   
    

}
.x {
    color:rgb(17, 17, 16);
    font-family: cursive;
    font-size: 20px;
}

.input2 h2{
    color: rgb(29, 29, 27);
    font-size: 30px;
    margin-left: 10%;
    font-family: cursive;
    
}
.input2 input{
    margin-left: 10%;
    border-radius: 25px 10px;
    padding: 1%;
    width: 80%;
    background-color:rgb(118, 235, 235);
    border: 2;
    border-color: turquoise;
}


.input3 h2{
    color: rgb(20, 20, 19);
    font-size: 30px;
    margin-left: 10%;
    font-family: cursive;
    
}
.input3 input{
    margin-left: 10%;
    border-radius: 25px 10px;
    padding: 1%;
    width: 80%;
    background-color:rgb(118, 235, 235);
    border: 2;
    border-color: turquoise;
}




.input4 h2{
    color: rgb(20, 20, 19);
    font-size: 30px;
    margin-left: 10%;
    font-family: cursive;
    
}
.input4 input{
    margin-left: 10%;
    border-radius: 25px 10px;
    padding: 1%;
    width: 80%;
    background-color: rgb(118, 235, 235);
    border: 2;
    border-color: turquoise;
}


.input5 h2{
    color: rgb(20, 20, 20);
    font-size: 30px;
    margin-left: 10%;
    font-family: cursive;
    
}
.input5 select{
    margin-left: 10%;
    border-radius: 25px 10px;
    padding: 1%;
    width: 80%;
    background-color: rgb(118, 235, 235);
    border: 2;
    border-color: turquoise;
}
.input6 h2{
    color: rgb(12, 12, 11);
    font-size: 30px;
    margin-left: 10%;
    font-family: cursive;
    
}
.input6 h5{
    
    display: inline;
    color: rgb(12, 12, 12);
    font-family: cursive;
    font-size: 30px;
    padding: 1px;
    
}
.input6 input{
    margin-left: 10%;
}
.input7 h2{
    color: rgb(14, 14, 13);
    font-size: 30px;
    margin-left: 10%;
    font-family: cursive;
    
}
.input7 select{
    margin-left: 10%;
    border-radius: 25px 10px;
    padding: 1%;
    width: 80%;
    background-color: rgb(118, 235, 235);
    border: 2;
    border-color: turquoise;
}

.input8 h2{
    color: rgb(12, 12, 12);
    font-size: 30px;
    margin-left: 10%;
    font-family: cursive;
    
}
.input8 input{
    margin-left: 10%;
    border-radius: 25px 10px;
    padding: 1%;
    width: 80%;
    background-colorrgb(118, 235, 235);
    border: 2;
    border-color: turquoise;
    background-color: rgb(118, 235, 235);
}

.input9 h2{
    color: rgb(20, 20, 20);
    font-size: 30px;
    margin-left: 10%;
    font-family: cursive;
    
}
.input9 input{
    margin-left: 10%;
    border-radius: 25px 10px;
    padding: 1%;
    width: 80%;
    background-color:rgb(118, 235, 235);
    border: 2;
    border-color: turquoise;
}


.input10 h2{
    color: rgb(12, 12, 12);
    font-size: 30px;
    margin-left: 10%;
    font-family: cursive;
    
}
.input10 input{
    margin-left: 10%;
    border-radius: 25px 10px;
    padding: 1%;
    width: 80%;
    background-colorrgb(118, 235, 235);
    border: 2;
    border-color: turquoise;
    background-color:rgb(118, 235, 235);
}
.input11 h2{
    color: rgb(20, 20, 20);
    font-size: 30px;
    margin-left: 10%;
    font-family: cursive;
    
}
.input11 textarea{
    margin-left: 10%;
    border-radius: 25px 10px;
    padding: 1%;
    width: 80%;
    background-colorrgb(118, 235, 235);
    border: 2;
    border-color: turquoise;
    height: 70px;
    background-color:rgb(118, 235, 235);
}

   
.input12 input{
    padding: 30px;
    margin-left: 35%;
    width: 30%;
    color: rgb(10, 10, 10);
    border-radius: 25px 10px;
    border-color: turquoise;
    margin-bottom: 1%;
    background-color: turquoise;
}


    




